name: Football Bot Daily Broadcast

on:
  schedule:
    - cron: '0 21 * * *' # 00:00 МСК
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      FOOTBALL_DATA_KEY: ${{ secrets.FOOTBALL_DATA_KEY }}
      CHAT_ID: ${{ secrets.CHAT_ID }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run bot script
        run: python send_daily.py
